.education {
	list-style: none;
}

.education__item {
	margin-bottom: 15px;
	position: relative;

	&:last-child {
		margin-bottom: 0;
	}

	&::before {
		position: absolute;
		content: "";
		width: 25px;
		height: 25px;
		background: url("../img/icons/hat.svg") no-repeat;
		top: 3px;
		left: -35px;
	}
}

.education__text {
	padding: 0;
	margin: 0;
}